html {
   box-sizing: border-box;
}

*, *::before,*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

body {
   font-size: 16px;
   font-family: 'Josefin Sans', sans-serif;
   overflow: hidden;
}

.container {
   max-width: 1440px;
   background-image: url(images/bg-pattern-desktop.svg);
   background-size: cover;
   background-position: center;
   display: flex;
}

.left-text {
   flex-basis: 25em;
   padding: 4em 0 0 10em;
   flex-grow: 1; 
   text-align: left;
}

#girl-width {
   width: 35em;
   height: 45em;
}

#logo { margin-bottom: 6em; }

.heading {
   font-size: 4em;
   text-transform: uppercase;
   font-weight: 600;
   letter-spacing: 0.2em;
   color: hsl(0, 6%, 24%);
}

span {
   font-weight: 300;
   color: hsl(0, 36%, 70%);
}

.text {
   padding: 0.5em 0;
   color: hsl(0, 36%, 70%);
}

form { 
   position: relative;
   padding: 3em 0 0 0.5em; 
}

#enterid {
   color: hsl(0, 36%, 70%);
   border: 1px solid hsl(0, 36%, 70%);
   padding-left: 1em;
   border-radius: 2em;
   width: 28em;
   height: 3.9em;
}

#enterid::placeholder { color:hsl(0, 36%, 70%); }

#enterid:focus, #press:focus { outline: none; } 

#press {
   font-weight: bolder;
   font-size: larger;
   padding: 0.8em 2.5em 0.8em 2.5em;
   border-radius: 2em;
   color: #fff;
   background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
   border: none;
   position: absolute;
   top: 2.45em;
   right: 18.5em;
   box-shadow: 2px 5px 10px hsla(0, 36%, 70%, 0.5);
}

#press:hover { background-image: linear-gradient(135deg, hsl(0, 74%, 74%), hsl(0, 6%, 24%)); 
cursor:pointer;
}

small {
   position: absolute;
   top: 9em;
   left: 2em;
   color: hsl(0, 93%, 68%);
}

#errorimg {
   position: absolute;
   right: 29.5em;
   top: 3.8em;
   /* display: none; */
}

footer { margin-top: 2em; }

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  .left-text {
    padding: 4em 0 0 5em; 
   }

   form {
      padding: 1.5em 0 0 0.2em; 
   }
  
   small {
   position: absolute;
   top: 7em;
   left: 1.7em;
   }

   #errorimg {
   position: absolute;
   top: 2.4em;
   right: 15em;
   }

   #press {
   position: absolute;
   top: 1.2em;
   right: 6.2em; 
   }
}
